@font-face {
    font-family: 'junicodeitalic';
    src: url('Junicode-Italic-webfont.eot');
    src: url('Junicode-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Junicode-Italic-webfont.woff2') format('woff2'),
         url('Junicode-Italic-webfont.woff') format('woff'),
         url('Junicode-Italic-webfont.ttf') format('truetype'),
         url('Junicode-Italic-webfont.svg#junicodeitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

