@font-face {
    font-family: 'junicodeitaliccondensed';
    src: url('Junicode-ItalicCondensed-webfont.eot');
    src: url('Junicode-ItalicCondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('Junicode-ItalicCondensed-webfont.woff2') format('woff2'),
         url('Junicode-ItalicCondensed-webfont.woff') format('woff'),
         url('Junicode-ItalicCondensed-webfont.ttf') format('truetype'),
         url('Junicode-ItalicCondensed-webfont.svg#junicodeitaliccondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

