@font-face {
    font-family: 'junicodebolditaliccondensed';
    src: url('Junicode-BoldItalicCondensed-webfont.eot');
    src: url('Junicode-BoldItalicCondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('Junicode-BoldItalicCondensed-webfont.woff2') format('woff2'),
         url('Junicode-BoldItalicCondensed-webfont.woff') format('woff'),
         url('Junicode-BoldItalicCondensed-webfont.ttf') format('truetype'),
         url('Junicode-BoldItalicCondensed-webfont.svg#junicodebolditaliccondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

