/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

@font-face {
    font-family: 'junicodeitaliccondensed';
    src: url('../fonts/Junicode-ItalicCondensed-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'junicodeboldcondensed';
    src: url('../fonts/Junicode-BoldCondensed.ttf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'junicodebolditaliccondensed';
    src: url('../fonts/Junicode-BoldItalicCondensed.ttf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'junicoderegularcondensed';
    src: url('../fonts/Junicode-RegularCondensed.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "junicode-outline";
  src: url("../fonts/Caveat.woff");
  font-weight: regular;
  font-style: normal;
}

html{
  font-family: junicodeboldcondensed;
}

.typed-cursor {
  display: none;
}

div.animation-container{
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  overflow-x: visible;
  height: 95vh;
}

h2.animated_title{
  font-size: 88px;
  color: #00407f;
  /* display: inline-block; */
  margin: 0px;
}

h2.animated_title:nth-of-type(1){
  margin-left: 70vh;
}

h2.animated_title:nth-of-type(2){
  margin-left: 2vh;
}

h2.animated_title:nth-of-type(3){
  margin-left: 30vh;
}

h2.animated_title:nth-of-type(4){
  margin-left: 50vh;
}

h2.animated_title:nth-of-type(5){
  margin-left: 2vh;
}

h2.animated_title:nth-of-type(6){
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: teal;
  font-family: junicodeboldcondensed;
  /* background: rgba(255, 255, 255, 0.5); */
  padding: 10px;
  z-index: 3;
}

div.subtitle-list{
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 34px;
  color: lightblue;
  font-family: junicodebolditaliccondensed;
}

div.subtitle-list li{
  list-style-type: circle;

}

div.text-body{
  position: fixed;
  display: none;
  width: 500px;
  right: 20px;
  bottom: 180px;
  top: 20px;
  overflow-y: scroll;
  padding: 30px;
  outline: 3px solid #00407f;
  color: teal;
  font-size: 28px;
  background-color: white;
  font-family: junicoderegularcondensed;
}
div.text-body:hover{
  z-index: 6;
}

#reveal{
  display: none;
  width: 400px;
  background-color: white;
  /* border-left: 1px solid teal; */
  position: fixed;
  right: 20px;
  top: 20px;
  bottom: 180px;
  outline: 3px solid #00407f;
  padding: 30px;
  z-index: 5;
  font-family: junicodeboldcondensed;
}

nav{
  position: fixed;
  right: 20px;
  bottom: 120px;
  /* width: 60%;
  margin-left: 20%; */
  color: teal;
  font-size: 32px;
  /* background: rgba(255, 255, 255, 0.8); */
  z-index: 3;
  padding: 10px;
}

nav a{
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}
.close-intro, .close-body{
  position: sticky;
  top: 5px;
  right: 5px;
  float: right;
  /* background-color: white; */
  z-index: 7;
  /* padding: 10px; */
  text-decoration: none;
  font-family: monospace;
  color: black;
  font-size: 20px
}

a{
  color: teal;
}

a:visited{
  color: teal;
}

#reveal::-webkit-scrollbar {
  display: none;
}

#reveal p{
  margin: 5px;
  font-size: 36px;
}

.grid-item {
  width: 400px;
 }
.grid-item--width2 { width: 800px; }
.grid-item--height2 { height: 800px; }
.grid-item--width4 { width: 100%; }
div.img-gallery{
  width: 100%;
  margin-top: 60px;
  margin-left: 0px;
  margin-bottom: 200px;
  z-index: -1;
}

div.img-gallery img{
  width: calc(100% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
}
div.img-gallery img:hover{
  filter:grayscale(0%) opacity(100%);
}
.grid-item img{
  /* filter:grayscale(50%) opacity(100%); */
}
.grid-item img :hover {
  filter:grayscale(0%);
}


/* div.img-gallery img{
  width: 32%;
  float: left;
  margin-right: 1%;
  margin-bottom: 10px;
} */
div.interstitial{
  border-top: 3px solid #00407f;
  margin-top: 22px;
  padding-top: 20px;
}

footer{
  margin-bottom: 5vh;
  margin-left: 5vh;
  display: block;
  //height: 20vh;
  margin-top: 10vh;
}
footer a, footer span{
  text-decoration: none;
  color: teal;
  font-size: 22
  px;
}
img.logo{
  width: 160px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

@media only screen and (max-width: 1550px) {
  div.animation-container{
    width: 80%;
  }
}

@media only screen and (max-width: 1150px) {
  div.animation-container{
    width: 96%;
  }
}

@media only screen and (max-width: 800px) {
  div.animation-container{
    margin-top: 30px;
  }
  h2.animated_title{
    font-size: 50px;
    margin-left: 0px;
  }
  h2.animated_title:nth-of-type(1){
    margin-left: 0vh;
  }
  h2.animated_title:nth-of-type(2){
    margin-left: 0vh;
  }
  h2.animated_title:nth-of-type(3){
    margin-left: 0vh;
  }
  h2.animated_title:nth-of-type(4){
    margin-left: 0vh;
  }
  h2.animated_title:nth-of-type(5){
    margin-left: 0vh;
  }
  h2.animated_title:nth-of-type(6){
    margin-left: 0vh;
  }
  #reveal{
    width: 300px;
    position: fixed;
    top: 10px;
    right: 10px;
    left: 10px;
    padding: 15px;
  }
  #reveal-body{
    width: 300px;
    position: fixed;
    top: 10px;
    right: 10px;
    left: 10px;
    padding: 15px;
  }
  #reveal p{
    font-size: 26px;
  }
  nav{
    bottom: 90px;
  }
  .grid-item { width: 100%; }
  .grid-item--width2 { width: 100%; }
  .grid-item--height2 { height: auto; }
}
