@font-face {
    font-family: 'junicoderegularcondensed';
    src: url('Junicode-RegularCondensed-webfont.eot');
    src: url('Junicode-RegularCondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('Junicode-RegularCondensed-webfont.woff2') format('woff2'),
         url('Junicode-RegularCondensed-webfont.woff') format('woff'),
         url('Junicode-RegularCondensed-webfont.ttf') format('truetype'),
         url('Junicode-RegularCondensed-webfont.svg#junicoderegularcondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

