@font-face {
    font-family: 'junicodebold_italic';
    src: url('Junicode-BoldItalic-webfont.eot');
    src: url('Junicode-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Junicode-BoldItalic-webfont.woff2') format('woff2'),
         url('Junicode-BoldItalic-webfont.woff') format('woff'),
         url('Junicode-BoldItalic-webfont.ttf') format('truetype'),
         url('Junicode-BoldItalic-webfont.svg#junicodebold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

