@font-face {
    font-family: 'junicodebold';
    src: url('Junicode-Bold-webfont.eot');
    src: url('Junicode-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Junicode-Bold-webfont.woff2') format('woff2'),
         url('Junicode-Bold-webfont.woff') format('woff'),
         url('Junicode-Bold-webfont.ttf') format('truetype'),
         url('Junicode-Bold-webfont.svg#junicodebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

